.App {
  text-align: center;
}


.App-header {
  background-color: lightblue;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.search-input {
  padding: 10px;
  width: 100%;

}
.search-container-list {
  text-align: left;
  list-style: none;
  font-size: 25px;
}
.search-container-list li {
  padding: 10px;
}

.search-container-list li:nth-child(even) {

  background: rgba(77, 10, 230, 0.09);
}